<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="ihowe">
    <title>{title}</title>
</head>

<!-- Icon库-->
<link   href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--[if IE]>
<!--<script src="js/html5.js"></script>-->
<![endif]-->
<style>

</style>
<script>

</script>
<body class="common">
<div id="left-menu" style="z-index: 1001;"></div>
<br> <br> <br> <br>
<div class="content-wrap container common" align="center" >
    <h2 style="font-family:宋体;font-weight:bold;font-size:49px;">About</h2>
    <br> <br>




</div>
<div id="foot" style="z-index: 1000;"></div>
</body>
<!-- 弹窗插件-->
<script src="static/zeroModal/zeroModal.js"></script>
<link   href="static/zeroModal/zeroModal.css" rel="stylesheet"/>

<link   href="static/css/common.css" rel="stylesheet" type="text/css"  />
<script src="static/js/_$lib.js"></script>
</html>