body.index
{
    background-color:#eee;
    background-image: url(img/bg.png);
    background-repeat:no-repeat;
    background-position:center;
    -webkit-background-size:cover;
    background-size:cover;
}
body.common
{
    background-color:#eee;
}
div.margin-top
{
    margin-top:70px;
}
div.margin-gap
{
    margin-top:20px;
}

.div_grid {
    display: table;
    border-spacing: 4px;
}
.div_row {
    display: table-row;
}
.div_ItemRenderer {
    display: table-cell;
    width: 240px;
    background-color: #ffffff;
    border: 8px solid #ddd;
    vertical-align: top;
    text-align: center;
}