
<!DOCTYPE html>

<html lang="en" class="no-js">

<head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Off-Canvas Menu Effects - Side Slide</title>



    <link rel="stylesheet" type="text/css" href="css/normalize.css" />



    <!--必要样式-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />-->
    <link rel="stylesheet" type="text/css" href="css/menu_sideslide.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--[if IE]>
    <!--<script src="js/html5.js"></script>-->
    <![endif]-->

</head>
<style>
    button:focus {
        outline: none;
    }
    .logo {
        border-radius: 50%;
        border: 3px solid #FFF;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3); }
    .panel-cover__logo {
        /*margin-bottom:10px;*/

         }

    a{color:#ddd; font-size: 14px;  }
    a:link {color:#ddd;}      /* 未访问链接*/
    a:visited {color:#999999;}  /* 已访问链接 */
    a:hover {color:#ffffff;}  /* 鼠标移动到链接上 */
    a:active {color:#00ff00;}  /* 鼠标点击时 */
</style>
<body class="common dinner">

<div class="menu-wrap" style="background-color: #000000;opacity: 0.88" align="center">
    <button class="close-button" id="close-button">Close Menu</button>

    <div>
    <img src="http://tva4.sinaimg.cn/crop.0.0.180.180.180/6d0d5ef5jw1e8qgp5bmzyj2050050aa8.jpg"
         width="90" class="logo panel-cover__logo"/>
    </div>
    <br>
    <ul class="nav nav-list">
        <li class="active">
            <a href="#">lua 查错</a>
        </li>
        <li>
            <a href="#">订餐福利</a>
        </li>
        <li>
            <a href="#">关 于</a>
        </li>
    </ul>
    <div style="bottom: 0px;">
        <a href="http://weibo.com/haroel" target="_blank"
           style="display:inline-block;">
            <i class='social fa fa-weibo'></i>
        </a>

        <a href="http://github.com/haroel" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-github'></i>
        </a>
        <a href="tencent://message/?uin=675366177&Site=&Menu=yes" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-qq'></i>
        </a>
        <a href="mailto:ihowe@outlook.com" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-envelope-o'></i>
        </a>
    </div>
</div>
<button class="menu-button" id="open-button">Open Menu</button>

<div class="content-wrap container common" align="center" >
    <h2 style="font-family:宋体;font-weight:bold;font-size:49px;color:#ffffff">标题</h2>
    <br> <br>
    <div class="row">
        <div class="col-xs-4"> </div>
        <div class="col-xs-4 ">
            <div class="input-group">
                <input id="roomInput" type="text" maxlength="6" class="form-control" placeholder="*"
                       width="200" data-toggle="tooltip" data-placement="top" title="6位有效数字">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="enterRoom()">进入</button>
                </span>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="margin-gap" align="center">
        <b><a href="/dinner/create" target="_blank" data-toggle="tooltip" data-placement="bottom"  title="当前数量 {roomNum}">创建新房间</a></b>
    </div>
</div>
</body>
<script src="js/classie.js"></script>
<script src="js/main.js"></script>
</html>