<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="ihowe">
    <title>lua查错</title>
</head>

<!-- Icon库-->
<link   href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--[if IE]>
<!--<script src="js/html5.js"></script>-->
<![endif]-->
<link href="static/css/menu_sideslide.css" rel="stylesheet" type="text/css"  />

<style>
    div.container div.row div {
        margin:20px 0px;
    }
    div.center
    {
        text-align:center;
    }
    div.right
    {
        text-align:right;
    }
    .bottom
    {
        text-align:right;
        bottom:0px;
        color: #f0f0f0;
    }
</style>
<script>
    window.onload=function()
    {
        $.ajax( "lua/getVersionList", {dataType:"text"})
            .done(function(data)
            {
                var textStr ="";
                var list = JSON.parse(data);
                list.reverse();
                for(var i=0;i<list.length;i++)
                {
                    textStr+= "<option>" + list[i] + "</option>"
                }
                $("#_comboBox")[0].innerHTML=textStr;
            })
            .fail(function(xhr, status)
            {
                console.log("error"+status);
                $("#_comboBox")[0].innerHTML="<option>" + "连接失败" +"</option>";
            }).always(function () {

            });

    };
    function onClickSubmit()
    {
        // AJAX获取http数据
        var _log = $("#_logInput")[0].value;
        if (!_log)
        {
            errorDialog("请输入错误日志！");
            return;
        }
        _log = btoa(_log);// Base64
        showLoading();
        var _version = $("#_comboBox").find("option:selected").text();
        $.ajax( "lua/getLog",
        {
            dataType:"text",
            data:{
                version :_version,
                errorlog:_log
            }

        }).done (function(data)
        {
            $("#output").html( data );
        }).fail(function(xhr, status)
        {
            $("#output").html( "处理失败 status:" + xhr.responseText );
        }).always(function()
        {
            removeLoading();
        })
    }
</script>

<body class="common">
    <div id="left-menu" style="z-index: 1001;"></div>
    <div class="content-wrap">
        <div class="container">
            <div style="text-align: center">
                <h1>lua查错</h1>
            </div>
            <div class="row">
                <div class="col-xs-3 right">选择版本号:</div>
                <div class="col-xs-4 ">
                    <select class="form-control" id="_comboBox">
                        <option>正在连接</option>
                    </select>
                </div>
                <div class="col-xs-2 ">
                    <button class="btn btn-success" type="button" width="300" onclick="onClickSubmit()">
                        <span class="glyphicon glyphicon-send"></span> 提交</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-3 right">错误日志:</div>
                <div class="col-xs-7 ">
                    <textarea class="form-control" rows="5" id="_logInput"></textarea>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-3 right">查找结果:</div>
                <div class="col-xs-8" id="output">
                </div>
            </div>
        </div>
    </div>
    <div id="foot" class="foot"></div>
</body>
<!-- 弹窗插件-->
<script src="static/zeroModal/zeroModal.js"></script>
<link   href="static/zeroModal/zeroModal.css" rel="stylesheet"/>

<link   href="static/css/common.css" rel="stylesheet" type="text/css"  />
<script src="static/js/_$lib.js"></script>
</html>