<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="ihowe">
    <title>{title}</title>
</head>
<!-- Icon库-->
<link   href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--[if IE]>
<!--<script src="js/html5.js"></script>-->
<![endif]-->
<link href="static/css/menu_sideslide.css" rel="stylesheet" type="text/css"  />
<style>
    .left{
        width:400px;
        float:left;
    }
    .right{
        overflow:hidden;
        min-width: 400px;
    }
    .menuList
    {
        padding-top: 150px;
        padding-bottom: 30px;
    }
    #list_div span
    {
        color: #ff0000;
        font-style:italic;
    }
    #list_div th
    {
        text-align:center;
        color:#b1b1b1;
    }
    #list_div
    {
        font-size:0.7em;
    }
</style>
<script>
    var menuListData = null;
    var selectItem = null;
    var intervalObj = null;
    var roomId = document.title.replace(/[^\d]*/,"");

    var _interval = null;
    var _changeDate = 0;
    var _menuHash = null;

    window.onload=function()
    {
        getAllMenu();
    };

    function countTimeStr(leftTime )
    {
        leftTime = Math.floor(leftTime);
        var seconds = leftTime%60;
        var minutes = Math.floor( leftTime/60 );
        if (minutes < 1)
        {
            return seconds + "秒";
        }
        var hours = Math.floor( minutes/60 );
        minutes = minutes%60;
        if (hours < 1)
        {
            return minutes + "分" + seconds + "秒";
        }
        var days = Math.floor( hours/24 );
        hours = hours%24;
        if (days < 1)
        {
            return hours + "小时" + minutes + "分" + seconds + "秒";
        }
        return days + "天" + hours + "小时" + minutes + "分" + seconds + "秒";
    }

    function menuInitedCallback()
    {
        // 重新设置menu按钮位置
        $("#open-button").css("margin-top","35px");
    }

    function showLeftTime(leftTime)
    {
        if (intervalObj)
        {
            clearInterval(intervalObj);
            intervalObj = null;
        }
        $("#leftTime").html( "剩余时间  " + countTimeStr(leftTime));
        intervalObj = setInterval(function()
        {
            if (leftTime === 0)
            {
                clearInterval(intervalObj);
                intervalObj = null;
                $("#leftTime").html( "该房间已失效!" );
                $(".selectBtn").each(function ()
                                    {
                                        $(this).attr('disabled',"true");
                                    });
                return;
            }
            --leftTime;
            $("#leftTime").html( "剩余时间  " + countTimeStr(leftTime) );
        },1000);
    }
    function getAllMenu()
    {
        showLoading();
        $.ajax( "wf/get_room",
                {
                    dataType:"text",
                    data:{id :roomId}
                }).done (function(data)
        {
            removeLoading();
            var _o = JSON.parse(Base64.decode(data));
            if (_o)
            {
                menuListData = _o;
                var leftTime = Math.floor( parseInt(_o.leftTime)/1000 );
                if (leftTime > 0)
                {
                    showLeftTime(leftTime);
                }
                var itemTemplate = document.getElementById("shop-menu-template").innerHTML;
                var contens = "";
                var len = _o.list.length;
                for (var i= 0;i < len;++i)
                {
                    var obj = _o.list[i];
                    var items = itemTemplate;
                    items = items.replace( "{img}",obj.img );
                    items = items.replace( "{name}",obj.name );
                    items = items.replace( "{name}",obj.name );
                    items = items.replace( "{price}",obj.price );
                    items = items.replace( "{menuId}",obj.id );
                    items = items.replace( "{tooltip}",obj.tooltip );
                    items = items.replace( "{star}",obj.star );
                    contens+=items;
                }
                $("#menuListDiv").html(contens);
                $(".col-sm-6").css("visibility","visible");
                $("#desc").html("<p>" + _o.desc + "</p>");

                // 启用tooltip
                $(function () {
                    $("[data-toggle='tooltip']").tooltip();
                });
            }
            _menuHash = new g.Hash();
            if (_o)
            {
                _o.list.forEach(function (element)
                {
                    _menuHash.set(element.id,element)
                });
                refreshList();
                _interval = setInterval( refreshList,2500);
            }

        }).fail(function(xhr, status)
        {
            removeLoading();
            infoDialog( xhr.responseText );
            setTimeout(function()
            {
                window.location.href = "wf_index.html";
            },2000);
        }).always(function()
        {})
    }

    function openModal(btn)
    {
        var mId = $(btn).attr("id");
        console.log("选择的订单id" + mId);
        var len = menuListData.list.length;
        for (var i= 0;i < len;++i)
        {
            var obj = menuListData.list[i];
            if (obj.id === mId)
            {
                selectItem = obj;
                $("#modelMenuName").html(obj.name );
                $('#submitModal').modal('show');
                break;
            }
        }
    }
    function submit()
    {
        var nameInputStr = $("#nameInput")[0].value;
        if (!nameInputStr || !isChineseChar(nameInputStr) )
        {
            infoDialog("请输入中文姓名！");
            return;
        }
        var params= {};
        params.name = nameInputStr;
        params.desc = $("#_logInput")[0].value;
        params.menuId = selectItem.id;
        let userInfos = Base64.encode(JSON.stringify(params)); // 转base64

        showLoading();
        $.ajax( "wf/addUser",
        {
            dataType:"text",
            data:{id :roomId, userInfo : userInfos}
        }).done (function(data)
        {
            removeLoading();
            $('#submitModal').modal('hide');
            infoDialog( data );
        }).fail(function(xhr, status)
        {
            removeLoading();
            infoDialog( xhr.responseText );
        }).always(function()
        {})
    }
    function refreshList()
    {
        $.ajax( "wf/getUsers",
        {
            dataType:"text",
            data:{id :roomId,changeDate:_changeDate}
        }).done (function(data)
        {
            var _o = JSON.parse(Base64.decode(data));
            if (_o && _changeDate != _o.changeDate)
            {
                _changeDate = _o.changeDate;
                showUserList(_o.list);
            }
        }).fail(function(xhr, status)
        {
            infoDialog( xhr.responseText );
            if (_interval)
            {
                clearInterval(_interval);
                _interval = null;
            }
        }).always(function()
        {})
    }

    function showUserList(list)
    {
        var len = list.length;
        var _hash = new g.MultiHash();

        for (var i = 0;i < len;i++)
        {
            var _obj = list[i];
            _hash.set( _obj.menuId, _obj );
        }
        var contents = "";
        _hash.forEach(function (key, value) {

            if (value.length > 0)
            {
                contents += "<p> 选择 <span>" + _menuHash.get( key ).name + "</span>的有 " + value.length + "个";
                var tab = '<table id="tab_'+  key +'"></table>';
                contents += tab;
                contents += "<br>";
            }
        } );
        $("#list_div").html( contents );
        _hash.forEach(function (key, value) {
            value.forEach(function (obj) {
                var d = new Date(obj.lastDate);
                obj.lastDate = d.toLocaleString();
            });
            var params = {};
            params.columns =
                    [{
                        field: 'name',
                        title: '姓名'
                    }, {
                        field: 'desc',
                        title: '描述'
                    }, {
                        field: 'lastDate',
                        title: '更新时间'
                    },
                    {
                        field: 'ip',
                        title: 'IP'
                    }];
            params.data = value;
            $("#tab_" + key).bootstrapTable(params);
        } );
    }
</script>
<script type="text" id="shop-menu-template">
   <div class="col-sm-6 col-md-3 col-lg-2" style="height: 270px;visibility: hidden">
    <div class="itemHover" style="text-align: center;height: 260px">
        <img src="{img}"
             width="100px"
             height="100px"
             alt="{name}" title ="{tooltip}" data-toggle="tooltip" data-placement="bottom" >
        <h5>{star}</h5>
        <h3 style="height: 33px;font-size: 1.25em">{name}</h3>
        <div>
            <p>￥{price}</p>
            <button class="btn btn-success selectBtn"
                    id="{menuId}" onclick="openModal(this)">选择</button>
        </div>
    </div>
    </div>
</script>
<body class="common">
    <div id="left-menu"></div>
    <nav class="navbar navbar-default navbar-fixed-top navbarzindex" role="navigation" style="height: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8" style="text-align: left;vertical-align: middle">
                    <p>NO.{roomId}   <a href="{shopLink}"  target="_blank" >{shopName}</a> 菜单数量:{menuNum}</p>
                </div>
                <div class="col-sm-4" style="text-align: right;vertical-align: middle">
                    <p id="leftTime"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10" id="desc"
                     style="text-align: left;padding-left: 60px;vertical-align:
                      middle;height: 100%;">
                </div>
            </div>
        </div>
    </nav>
    <div class="content-wrap container menuList">
        <div class="row" style="margin-bottom: 20px" id="menuListDiv">
        </div>
    </div>
    <div id="foot"></div>
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title">你选择了<span id="modelMenuName" style="color: #ff0000">{name} </span></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-2" style="text-align: center;">
                            <p>姓名:</p>
                        </div>
                        <div class="col-xs-8">
                            <input id="nameInput" type="text" maxlength="6" class="form-control" width="200"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: center;">
                            <p>备注:</p>
                        </div>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="3" id="_logInput" style="resize: none;"
                                      data-toggle="tooltip" data-placement="bottom"  title="可以写口味,冷热等等,不过,我是不会看的..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="submit()">提交</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>

    <div id="chat_container" style="background-color: #d1d1d1;width: 100%;height: 100%">
        <div class="title"><i></i>聊天室</div>
        <div id="chat_div" style="height: 100%;" >
            <p>
                <span id="chat_nickname" class="nickname"> </span>    <span id="chat_num"></span>
            </p>
            </p>
            <div id="chat_content" class="chat_panel" >
                <div class="chat_item_left chat_bg" uuid="$uuid" time="$time">
                    <p class="ptitle">
                        ip {ip} <span class="nickname">{nickname}</span> <span>({time})</span>
                        <span class='fa fa-fw fa-remove chat_trash' title="删除" onclick="chatItemRemoveClick(this)"></span>
                    </p>
                    <p class="chat_content">
                        {content}
                    </p>
                </div>
                <div class="chat_item_sys">
                    <p>
                        <span class="nickname">{nickname}</span> {action} <span>({time})</span>
                    </p>
                </div>
                <div class="chat_item_right chat_bg" uuid="$uuid" time="$time">
                    <p class="ptitle">
                        ip {ip} <span class="nickname">{nickname}</span> <span>({time})</span>
                        <span class='fa fa-fw fa-remove chat_trash' title="删除"  onclick="chatItemRemoveClick(this)"></span>
                        <span class='fa fa-fw fa-trash chat_trash' title="撤回" onclick="chatItemRevokeClick(this)"></span>
                    </p>
                    <p class="chat_content">
                        {content}
                    </p>
                </div>
            </div>
            <div class="row" style="width: 100%; margin-left: 2px;">
                <button class="btn btn-xs btn-info" type="button" onclick="showGif()">表情</button>
                <input type="file" id="chat_img" name="imgfile" style="display: none">
                <button class="btn btn-xs btn-danger" type="button" onclick='$("#chat_img").click()'>图片</button>
            </div>
            <div class="row" style=" text-align: center; margin-left: 1px;margin-right: 1px">
                <textarea id="messageInput" rows="3" style="width: 100%; resize: none;"  placeHolder="Ctrl + Enter发送消息"></textarea>
            </div>
            <div id="emojiWrapper"></div>
        </div>
        <div id="chat_loginWrapper" style="width: 100%;height: 100%">
            <br><br><br>
            <p id="info">连接聊天服务器...</p>
            <div id="chat_login" class="input-group" style="width: 300px;padding-left: 50px;display: none">
                <input id="nickNameInput" type="text" class="form-control"
                       data-toggle="tooltip" data-placement="top" title="输入一个昵称">
                <button class="btn btn-default" type="button" onclick="loginChat()">OK</button>
            </div>
        </div>
    </div>
    <div id="user_container" style="background-color: #f1f1f1">
        <div class="title"><i></i>订单</div>
        <div id="list_div" style="height: 100%;overflow:auto;"/>
    </div>
</body>
<!-- 弹窗插件-->
<script src="static/zeroModal/zeroModal.js"></script>
<link   href="static/zeroModal/zeroModal.css" rel="stylesheet"/>

<link   href="static/css/common.css" rel="stylesheet" type="text/css"  />
<script src="static/js/_$lib.js"></script>
<script src="static/js/Base64.js"></script>

<script src="static/js/jquery.sliderBar.js"></script>
<script type="text/javascript">
    $(function(){
        $('#chat_container').sliderBar({
            open : true,           // 默认是否打开，true打开，false关闭
            bottom : 30,             // 距离顶部多高
            width : 400,           // body内容宽度
            height : 500,          // body内容高度
            theme : 'green',       // 主题颜色
            position : 'right'      // 显示位置，有left和right两种
        });

        $('#user_container').sliderBar({
            open : false,           // 默认是否打开，true打开，false关闭
            bottom : 30,             // 距离顶部多高
            width : 400,           // body内容宽度
            height : 500,          // body内容高度
            theme : 'blue',       // 主题颜色
            position : 'left'      // 显示位置，有left和right两种
        });
    });
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="static/js/socket.io.js"></script>
<script src="static/js/chatHelper.js"></script>
<link   href="static/css/chat.css" rel="stylesheet" type="text/css"  />


</html>