<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="ihowe">
    <title>{title}</title>
</head>
<!-- Icon库-->
<link   href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" >
<link   href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--[if IE]>
<!--<script src="js/html5.js"></script>-->
<![endif]-->
<link href="static/css/menu_sideslide.css" rel="stylesheet" type="text/css"  />

<style>
    .left{
        width:400px;
        float:left;
    }
    .right{
        overflow:hidden;
        min-width: 400px;
    }
    .menuList
    {
        padding-top: 150px;
        padding-bottom: 30px;
    }
    .selectBtn
    {  }
</style>
<script>
    var menuListData = null;
    var selectItem = null;
    var intervalObj = null;
    var roomId = document.title.replace(/[^\d]*/,"");


    window.onload=function()
    {
        $('#userListModal').on('hide.bs.modal', hideUserListModalHandler);
        $('#userListModal').on('hidden.bs.modal', hideUserListModalHandler);

        getAllMenu();
    };

    function countTimeStr(leftTime )
    {
        leftTime = Math.floor(leftTime);
        var seconds = leftTime%60;
        var minutes = Math.floor( leftTime/60 );
        if (minutes < 1)
        {
            return seconds + "秒";
        }
        var hours = Math.floor( minutes/60 );
        minutes = minutes%60;
        if (hours < 1)
        {
            return minutes + "分" + seconds + "秒";
        }
        var days = Math.floor( hours/24 );
        hours = hours%24;
        if (days < 1)
        {
            return hours + "小时" + minutes + "分" + seconds + "秒";
        }
        return days + "天" + hours + "小时" + minutes + "分" + seconds + "秒";
    }

    function menuInitedCallback()
    {
        // 重新设置menu按钮位置
        $("#open-button").css("margin-top","35px");
    }

    function showLeftTime(leftTime)
    {
        if (intervalObj)
        {
            clearInterval(intervalObj);
            intervalObj = null;
        }
        $("#leftTime").html( "剩余时间  " + countTimeStr(leftTime));
        intervalObj = setInterval(function()
        {
            if (leftTime === 0)
            {
                clearInterval(intervalObj);
                intervalObj = null;
                $("#leftTime").html( "该房间已失效!" );
                $(".selectBtn").each(function ()
                                    {
                                        $(this).attr('disabled',"true");
                                    });
                $('#userListModal').modal('hide');
                return;
            }
            --leftTime;
            $("#leftTime").html( "剩余时间  " + countTimeStr(leftTime) );
        },1000);
    }


    function getAllMenu()
    {
        showLoading();
        $.ajax( "wf/get_room",
                {
                    dataType:"text",
                    data:{id :roomId}

                }).done (function(data)
        {
            removeLoading();
            var _o = JSON.parse(Base64.decode(data));
            if (_o)
            {
                menuListData = _o;
                var leftTime = Math.floor( parseInt(_o.leftTime)/1000 );
                if (leftTime > 0)
                {
                    showLeftTime(leftTime);
                }
                var itemTemplate = $("#menuListDiv").html();
                var contens = "";
                var len = _o.list.length;
                for (var i= 0;i < len;++i)
                {
                    var obj = _o.list[i];
                    var items = itemTemplate;
                    items = items.replace( "{img}",obj.img );
                    items = items.replace( "{name}",obj.name );
                    items = items.replace( "{name}",obj.name );
                    items = items.replace( "{price}",obj.price );
                    items = items.replace( "{menuId}",obj.id );
                    items = items.replace( "{tooltip}",obj.tooltip );
                    items = items.replace( "{star}",obj.star );
                    contens+=items;
                }
                $("#menuListDiv").html(contens);
                $(".col-sm-6").css("visibility","visible");
                $("#desc").html("<p>" + _o.desc + "</p>");


                $(function () {
                    $("[data-toggle='tooltip']").tooltip();
                });

            }
        }).fail(function(xhr, status)
                {
                    removeLoading();
                    infoDialog( xhr.responseText );
                    setTimeout(function()
                    {
                        window.location.href = "wf_index.html";
                    },1000);
                }).always(function()
                {})
    }

    function openModal(btn)
    {
        var mId = $(btn).attr("id");
        console.log("选择的订单id" + mId);
        var len = menuListData.list.length;
        for (var i= 0;i < len;++i)
        {
            var obj = menuListData.list[i];
            if (obj.id === mId)
            {
                selectItem = obj;
                $("#modelMenuName").html(obj.name );
                $('#submitModal').modal('show');
                break;
            }
        }
    }
    function submit()
    {
        var nameInputStr = $("#nameInput")[0].value;
        if (!nameInputStr || !isChineseChar(nameInputStr) )
        {
            infoDialog("请输入中文姓名！");
            return;
        }
        var params= {};
        params.name = nameInputStr;
        params.desc = $("#_logInput")[0].value;
        params.menuId = selectItem.id;
        let userInfos = Base64.encode(JSON.stringify(params)); // 转base64

        showLoading();
        $.ajax( "wf/addUser",
        {
            dataType:"text",
            data:{
                id :roomId, userInfo : userInfos
            }
        }).done (function(data)
        {
            removeLoading();
            $('#submitModal').modal('hide');
            infoDialog( data );
        }).fail(function(xhr, status)
        {
            removeLoading();
            infoDialog( xhr.responseText );
        }).always(function()
        {})
    }
    function showUsers()
    {
        $('#userListModal').modal('show');
        $('#userListModal').find(".modal-body").html( '<iframe width="100%" height="480" src="wf_userList.html?id='+ roomId +'" frameborder="0"></iframe>' )
    }
    function hideUserListModalHandler()
    {
        $('#userListModal').find(".modal-body").html( "" )
    }
</script>
<body class="common">
    <div id="left-menu"></div>
    <nav class="navbar navbar-default navbar-fixed-top navbarzindex" role="navigation" style="height: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8" style="text-align: left;vertical-align: middle">
                    <p>NO.{roomId}   <a href="{shopLink}"  target="_blank" >{shopName}</a> 菜单数量:{menuNum}</p>
                </div>
                <div class="col-sm-4" style="text-align: right;vertical-align: middle">
                    <p id="leftTime"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" id="desc"
                     style="text-align: left;padding-left: 60px;vertical-align:
                      middle;height: 100%;">
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <button class="btn btn-success" type="button" width="200" id="showCardBtn"
                            onclick="showUsers()">
                        <span class="glyphicon glyphicon-send"></span>当前订单</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="content-wrap container menuList">
        <div class="row" style="margin-bottom: 20px" id="menuListDiv">

            <div class="col-sm-6 col-md-3 col-lg-2" style="height: 270px;visibility: hidden">
                <div class="itemHover" style="text-align: center;height: 260px">
                    <img src="{img}"
                         width="100px"
                         height="100px"
                         alt="{name}" title ="{tooltip}" data-toggle="tooltip" data-placement="bottom" >
                    <h5>{star}</h5>
                    <h3 style="height: 33px;font-size: 1.25em">{name}</h3>
                    <div>
                        <p>￥{price}</p>
                        <button class="btn btn-success selectBtn"
                                id="{menuId}" onclick="openModal(this)">选择</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="foot"></div>
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title">你选择了<span id="modelMenuName" style="color: #ff0000">{name} </span></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-2" style="text-align: center;">
                            <p>姓名:</p>
                        </div>
                        <div class="col-xs-8">
                            <input id="nameInput" type="text" maxlength="6" class="form-control" width="200"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: center;">
                            <p>备注:</p>
                        </div>
                        <div class="col-xs-8">
                            <textarea class="form-control" rows="3" id="_logInput" style="resize: none;"
                                      data-toggle="tooltip" data-placement="bottom"  title="可以写口味,冷热等等,不过,我是不会看的..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="submit()">提交</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>

    <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p class="modal-title"> 订单分布  <a href="wf_userList.html?id={roomId}"  target="_blank" >查看</a></p>
                </div>
                <div class="modal-body">
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
</body>
<!-- 弹窗插件-->
<script src="static/zeroModal/zeroModal.js"></script>
<link   href="static/zeroModal/zeroModal.css" rel="stylesheet"/>

<link   href="static/css/common.css" rel="stylesheet" type="text/css"  />
<script src="static/js/_$lib.js"></script>
<script src="static/js/Base64.js"></script>
</html>