
<!-- 侧边栏-->
<div class="menu-wrap" align="center">
    <!-- 侧边栏关闭按钮-->
    <button class="close-button" id="close-button">Close Menu</button>
    <div>
        <img src="http://tva4.sinaimg.cn/crop.0.0.180.180.180/6d0d5ef5jw1e8qgp5bmzyj2050050aa8.jpg"
             width="90" class="logo"/>
    </div>
    <br>
    <div>
        <ul class="nav nav-list" style="width: 100%">
            <li class="active" style="width: 100%">
                <a href="lua-errorlog.html">lua 查错</a>
            </li>
            <li>
                <a href="dj_index.html">订餐福利</a>
            </li>
            <li>
                <a href="about.html">关 于</a>
            </li>
        </ul>
    </div>
    <!-- 底部社交按钮-->
    <div class="navbar-fixed-bottom" style="bottom:30px">
        <a href="http://weibo.com/haroel" target="_blank"
           style="display:inline-block;">
            <i class='social fa fa-weibo'></i>
        </a>
        <a href="http://github.com/haroel" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-github'></i>
        </a>
        <a href="tencent://message/?uin=675366177&Site=&Menu=yes" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-qq'></i>
        </a>
        <a href="mailto:ihowe@outlook.com" target="_blank"
           style="display:inline-block;margin-left: 15px">
            <i class='social fa fa-envelope-o'></i>
        </a>
    </div>
</div>
<button class="menu-button" id="open-button">Open Menu</button>

<script src="static/js/classie.js"></script>
<script src="static/js/main.js"></script>