<!-- 侧边栏-->
<div class="menu-wrap topzindex" align="center">
    <!-- 侧边栏关闭按钮-->
    <div>
        <img class="logo" src="http://tva4.sinaimg.cn/crop.0.0.180.180.180/6d0d5ef5jw1e8qgp5bmzyj2050050aa8.jpg"
             width="90"/>
    </div><br>

    <!--<div id="menu-slide">-->
        <!--<nav class="menu">-->
            <!--<div class="icon-list">-->
                <!--<a href="lua-errorlog.html"><i class="fa fa-fw fa-bug"></i><span>lua 查错</span></a>-->
                <!--<a href="wf_index.html"><i class="fa fa-fw fa-coffee"></i><span>订餐福利</span></a>-->
                <!--<a href="wf_index.html"><i class="fa fa-fw fa-user"></i><span>关 于</span></a>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->

    <ul class="menu-item">
        <li>
            <a href="lua-errorlog.html"><i class="fa fa-fw fa-bug"></i><span>lua 查错</span></a>
        </li>
        <li>
            <a href="wf_index.html"><i class="fa fa-fw fa-coffee"></i><span>吃什么</span></a>
        </li>
        <li>
            <a href="about.html"><i class="fa fa-fw fa-user"></i><span>关 于</span></a>
        </li>
    </ul>

    <button class="close-button" id="close-button">Close Menu</button>
    <!-- 底部社交按钮-->
    <div class="navbar-fixed-bottom menu-tab-link-icon">
        <a href="http://weibo.com/haroel" target="_blank" class="menu-social-icon-n">
            <i class='social fa fa-weibo'></i>
        </a>
        <a href="http://github.com/haroel" target="_blank" class="menu-social-icon">
            <i class='social fa fa-github'></i>
        </a>
        <a href="tencent://message/?uin=2831275626&Site=&Menu=yes" target="_blank" class="menu-social-icon">
            <i class='social fa fa-qq'></i>
        </a>
        <a href="mailto:ihowe@outlook.com" target="_blank" class="menu-social-icon">
            <i class='social fa fa-envelope-o'></i>
        </a>
    </div>
</div>
<button class="menu-button" id="open-button">Open Menu</button>

<script src="static/js/classie.js"></script>
<script src="static/js/main.js"></script>